html {
	font-size: 10px;
}

html,
body {
	height: 100%;
	position: relative;
}

.error {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -175px;
	width: 500px;
	height: 350px;
	background-color: rgb(47, 33, 94);
}

.title {
	font-size: 100px;
	font-size: 10rem;
	color: #fff;
	text-align: center;
	line-height: 350px;
}

.btn-group {
	line-height: 80px;
	text-align: center;
	margin-top: -80px;
	font-size: 0;
}

.btn-group a {
	display: inline-block;
	background-color: rgb(14, 186, 159);
	border: none;
	color: white;
	height: 54px;
	height: 5.4rem;
	width: 54px;
	width: 5.4rem;
	border-radius: 50%;
	outline: none;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-group a:hover {
	background-color: rgb(164, 224, 224);
}

.btn-group a:active {
	background-color: rgb(14, 186, 159);
}

#goHome {
	background-image: url(../img/home.png);
	background-size: 32px;
	background-size: 3.2rem;
	margin-right: 20px;
}

#close {
	background-image: url(../img/close.png);
	background-size: 26px;
	background-size: 2.6rem;
}

@media only screen and (max-width: 700px) {
	html {
		font-size: 12px;
	}
	.error {
		right: 0;
		bottom: 0;
		left: 0;
		top: 0;
		margin-left: 0px;
		margin-top: 0px;
		width: auto;
		height: auto;
	}
	.title {
		height: 100%;
	}
	.btn-group {
		margin-top: -150px;
	}
	#goHome {
		margin-right: 70px;
	}
}